node_modules
.DS_Store
dist
dist-ssr
*.local
.output
.vinxi

.env
*.env

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml
.pnpm-store

# result
debug/
output/
temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# coverage
coverage/

# vite cache
.vite/

# vite-plus
.vp/
